:root {
  --font-color-light: #677788;
  --font-color-dark: #000000;
  --common-blue: #2476ff;
  --common-bg: #F8FAFE;
  --accent-color: #ECF2FF;
  --white: white;

  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-70: 4.375rem;
  --size-80: 5rem;
  --size-90-: 5.625rem;
  --size-100: 6.25rem;
  --size-120: 7.5rem;
  --size-150: 9.375rem;

  --size-10: 0.625rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;

}


*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

p {
  color: var(--font-color-light);
  font-size: var(--font-size-14);
  margin-top: 0;
  margin-bottom: 0;
}

button {
  padding: var(--font-size-14) 1.625rem;
  background-color: var(--common-blue);
  border: none;
  border-radius: var(--font-size-20)
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a { text-decoration: none; }

.container {
  width: 1024px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: eas-in-out 0.3s;
  background-color: transparent;
}

.navbar img {
  width: var(--size-150);
  margin-right: auto;
}

.navbar.sticky {
  background: white;
  box-shadow: 0px 0px 20px rgb(48 63 100 / 20%);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: var(--font-size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: white;
  font-size: var(--font-size-20);
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbar-dropdown"] {
  display: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  transition: eas-in-out 0.3s;
  color: #666;
}

.nav-link a {
  font-weight: 600;
  color: #677788;
  font-size: 0.8125rem;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  margin-right: 2.5rem;
  line-height: var(--font-size-20);
}

a:hover {
  color: #2476FF;
}

.buy-btn {
  padding: var(--font-size-14) 1.625rem;
  background-color: #2476ff;
  border: none;
  border-radius: var(--font-size-20);
}


.buy-btn a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

header {
  padding: var(--size-100) 0;
}

.bg-header {

}

.hero-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: var(--size-100);
  padding: var(--size-40) 1.875rem 0;
}

.hero-block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
}

.hero-block-text h2 {
  font-size: var(--size-40);
  font-weight: 500;
  margin-bottom: 0;
}

.hero-block-text p {
  color: var(--font-color-light);
  font-size: var(--font-size-14);
  margin-bottom: 2em;
}

.hero-clicks > button {
  margin-right: 2em;
}

.hero-clicks button a {
  color: white;
}

.hero-clicks .learn-more {
  font-size: var(--font-size-14);
  color: var(--common-blue);
  font-weight: 600;
}

.circle-logos {
  flex: 1;
  position: relative;
  display: flex;

}

 .l-logo > img {
  width: 3rem;
  height: 3rem;
  
}

 .s-logo > img {
  height: var(--size-40);
  width: var(--size-40);
}

.circle-logos .l-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-80);
  width: var(--size-80);
  border-radius: 50%;
  box-shadow: 0px 3px 13px rgb(0 0 0 / 25%);
  background-color: var(--common-bg);
}

.circle-logos .s-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-60);
  width: var(--size-60);
  border-radius: 50%;
  box-shadow: 0px 3px 13px rgb(0 0 0 / 25%);
  background-color: var(--common-bg);
}

#asana {
  position: absolute;
  top: var(--size-10);
  left: 23.75rem;
}
#atlassain {
  position: absolute;
  top: var(--size-10);
  left: 10.9375rem;
}
#calendar {
  position: absolute;
  top: 19.375rem;
  left: 22.875rem;
}
#googlea {
  position: absolute;
  top: 18.125rem;
  left: 9.6875rem;
}
#google {
  position: absolute;
  top: var(--size-10);
  left: 4rem;
}
#paypal {
  position: absolute;
  top: 10.75rem;
  left: 2.75rem;
}
#weave {
  position: absolute;
  top: 10.8125rem;
  left: 16.375rem;
}

.card-section {
  margin-top: var(--size-100);
}

.section-title {
  text-align: center;
  margin-bottom: var(--size-50);
}

.section-title p {
  color: var(--font-color-light);
  font-size: var(--font-size-16);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--font-size-20);
}

.card {
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-content {
  margin: var(--font-size-15);
  line-height: 1.5em;
}

.card-icon {
  width: var(--size-60);
}

.card-text h3 {font-size: var(--font-size-16);}

.front {
  margin: 5.625rem 0;
  background-color: var(--common-bg);
  padding-top: var(--size-40);
}

.front > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--size-50);;
}

.front-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.left-content a {
  color: white;
}

.front-right > img {
  width: 31.25rem;
  height: auto;
}

.why {
  margin-bottom: var(--size-100);
}

.why .container > .block-text-why {
  text-align: center;
  max-width: 50%;
  margin: auto;
}

.block-text-why h2 {
  font-size: var(--font-size-20);
}

.circle-list ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
}

.circle-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.bullet {
  height: var(--size-50);
  width: var(--size-50);
  border-radius: 50%;
  background-color: #ECF2FF;
  position: relative;
}

/* .bullet::before, .bullet::after{
  display: block;
  content: '';
  height: 1px;
  background: var(--font-color-light);
} */

.bulls-eye {
  width: 0.375rem;
  height: 0.375rem;
  background-color: var(--common-blue);
  border-radius: 50%;
  position: absolute;
  top: 44%;
  left: 44%;
}

.banner-video .container {
  background-image: url("./assets/banners/banner_two.jpg");
  height: 26.25rem;
  position: relative;
}

.banner-video a {
  position: absolute;
  top: 50%;
  left: 50%;
}

.play-btn {
  display: flex;
  justify-content: center;
  width: var(--size-70);
  height: var(--size-70);
  border-radius: 50%;
  background-color: white;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
  color: black;
}

.hubSpot {
  max-height: 35rem;
}

.dots, .h-logo  { width: 12.5rem;}
.woman-three { width: 23.125rem;}

.hubSpot {margin-top: 5em;}

.hubSpot > .container {
  display: flex;
  flex-direction: row;
}

.hub-left {
  position: relative;
  margin-right: auto;
  flex: 1;
}

.hub-left .dots {
  position: absolute;
  top: 6.9375rem;
  left: 1.75rem;
}

.hub-left .woman-three {
  position: absolute;
  top: 0;
  left: 5.0625rem;
}

.hub-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 31.25rem;
}

.hSpot {max-width: var(--size-100);}
.hSpot > img {width: 100%;}

.hSpot-content p {
  font-size: var(--font-size-20);
  font-weight: 600;
  color: var(--font-color-dark);
  line-height: 32px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.christina > h3, p { margin: 0;}

.worlds-best {margin-top: 5em;}

.wb {
  text-align: center;
  margin-bottom: 3em;
  text-transform: uppercase;
  color: var(--font-color-light);
}

.wb-logo {width: 113px;}

.wb-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.price-info {
  text-align: center;
  margin-top: 6em;
}

.price-info h3 {
  margin-bottom: var(--size-10);
  font-size: 26px;
  font-weight: 700;
}
.price-info p {
  font-size: var(--font-size-16);
  margin-bottom: 4em;
}


.bc-wrap {
  display: flex;
  flex-direction: row;
  gap: var(--size-50);
}

.big-card {
  width: 370px;
  height: 452px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  border: 1px solid #fff;
  padding: 40px;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
}

.card-price {
  width: 100%;
}

.card-price .p-price { 
  font-size: var(--size-50);
  font-weight: 500;
  line-height: var(--size-60);
  color: var(--font-color-dark);
}

.card-price .period {
  font-size: var(--font-size-20);
  color: var(--font-color-light);
  font-weight: 500;
}

hr { margin-top: 2em; }

.bc-content {
  font-size: var(--font-size-16);
  line-height: 24px;
}

.bc-button a {
  color: white;
}

.bc-button p {
  margin-top: 20px;
  font-size: 12px;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex: 1;
}

.price-grid .card_1 > img {
  height: 50px;
  width: 50px;
}

.card_1 {
  width: 263px;
  padding: 20px;
}

.card_1 h3 {
  font-size: var(--font-size-18);
  font-weight: 700;
}

.card-1 p {
  font-size: var(--font-size-14);
  color: var(--font-color-light);
}

.hire-us {
  display: flex;
  height: 708px;
  background-color: #20335B;
}

.hire-us .container {
  display: flex;
  flex-direction: row;
}

.hu-testamonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 0px 70px;
}




.form-wrap {background-color: #fff;}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}




/* media */

@media screen and (max-width: 760px) {
  [aria-controls="navbar-dropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: 20px;
    color: #666;
  }

}